
a {
    text-decoration: none;
}
p {
    font-size: 30px;
    margin-left: 1em;
    margin-top: 1em;
}

ul {
    font-size: 20px;
    padding-bottom: 40em;
    margin-left: 1em;
}

body {
    border: 1px solid #333;
}

footer {
    padding: 4em;
    background-color: darkgray;
    text-align: center;
}

.fondo-gris {
    background-color: #eee;
    padding: 0 5px;
    border: 1px solid #333;
}

.header {
    padding: 2em;
    background-color: khaki;
    text-align: center;
}
