
a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 30px;
    margin-left: 2em;
    margin-top: 1em;
}

ul {
    font-size: 20px;
    padding-bottom: 25em;
    margin-left: 3em;
}

body {
    margin: 0;
    height:100%;
    background-image: url("images/bodye.png");
}

footer {
    border-top: 3px solid #333;
    padding: 10em;
    background-image: url("images/nodec.png");
    text-align: center;
}

.fondo-gris {
    background-color: yellowgreen;
    padding: 0 5px;
    border: 1px solid #333;
}

.header {
    color: yellowgreen;
    padding: 2em;
    background-image: url("images/headerc.png");
    text-align: center;
}
