
a {
  /*  text-decoration: none;
    color: black;*/
}

h1 {
    font-size: 50px;
}

p {
    font-size: 30px;
    margin-left: 2em;
    margin-top: 1em;
}

ul {
    font-size: 23px;
    margin-left: 3em;
}

li {
    padding-bottom: 15px;
}

body {
    margin: 0;
    height:100%;
    background-image: url("images/bodye.png");
}

footer {
    border-top: 3px solid #333;
    padding: 8em;
    width: 100%;
    bottom: 0;
    background-image: url("images/nodec.png");
    position: fixed;
}

.fondo-gris {
    background-color: yellowgreen;
    padding: 0 5px;
    border: 1px solid #333;
}

.header {
    color: yellowgreen;
    padding: 2em;
    background-image: url("images/headerc.png");
    text-align: center;
}
