@charset "UTF-8";

a {
    text-decoration: none;
}

.fondo-gris {
    background-color: #eee;
    padding: 0 5px;
    border: 1px solid #333;
}

.header {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

.hrStyle {
    text-align: center;
    height: 3px;
    background-color: black;
    width: 100px;
}